/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * TOC
 * ------------------------
**/

// MDC THEME STUFFS

/* Original
$mdc-theme-primary: #b0c4de;     // Label Text, Button Text, HIghlights on form fields
$mdc-theme-on-primary: #fdfdfd;  //
$mdc-theme-secondary: #2e2e2e;
$mdc-theme-on-secondary: #b0c4de;
$mdc-theme-surface: #212121;     // Surface of components (i.e. textfields input backgrounds)
$mdc-theme-on-surface: #b0c4de;  // Text color on surfaces (i.e. textfields input color)
$mdc-theme-background: #212121;  // Main background of component objects, such as drawer (left nav object)
$mdc-theme-on-background: #fdfdfd;
*/

$mdc-theme-background:      #ffffff;    // Main background of component objects, such as drawer (left nav object)
$mdc-theme-on-background:   #212121;    // Text color on background
$mdc-theme-surface:         #ffffff;    // Surface of components (i.e. textfields input backgrounds)
$mdc-theme-on-surface:      #212121;    // Text color on surfaces (i.e. textfields input color)
$mdc-theme-primary:         #546e7a;    // Component (like Buttons) colors, etc
$mdc-theme-on-primary:      #ffffff;    // Label Text, Button Text,
$mdc-theme-secondary:       #424242;    // Highlights and accents
$mdc-theme-on-secondary:    #ffffff;    // Text on highlights and within accent colors


// 0. Material Design Components from Google
@import "core/components/chatx";

