/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kux_md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
 *
 * ------------------------
 *
 * 1. Base styles
 *
 *    1-A FONTS & ICONS
 *
 * ------------------------
**/


/*******************************************************************************
 *  1-A FONT FACES (Includes icon fonts)
 ******************************************************************************/

// Font files go into fonts/ They'll be copied into dist after running gulp

/**** ROBOTO REGULAR ****/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**** ROBOTO THIN ****/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/**** ROBOTO BLACK ****/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/**** ROBOTO MONO REGULAR ****/
@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**** ROBOTO MONO THIN ****/
@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Thin.woff2') format('woff2'),
        url('../fonts/RobotoMono-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/**** ROBOTO MONO BOLD ****/
@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('../fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/**** MATERIAL ICONS ****/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      url('../fonts/MaterialIcons-Regular.ttf') format("truetype");
      /*url(../fonts/material-icons.woff2) format("woff2");*/
    }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
