/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * 8. Custom Stuffs
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use "@material/image-list/mdc-image-list";
@use "@material/image-list/mixins" as _mdc-image-list;
@use "@material/elevation/mdc-elevation";
@use "@material/elevation/mixins" as _mdc-elevation;
@use "@material/typography/mdc-typography";
@use "@material/typography/mixins" as _mdc-typography;


/******************************************************************************
 * We'll organize the collection of customizations through this file.
 *
 * This file we'll hold structural/theme overrides, and we could import additional
 * customizations in an organized manner.
 *
 * Use The Massively Modified BEM naming convention here a.k.a. MEM:
 *
 * Entity:   The Entity to be modified. The entity is something abstract; a
 *           thing with distinct and independant existence. It should be
 *           named with a noun. Something that signifies what it is/does if
 *           what it is doesn't already have a perfect name which does so.
 * Element:  The Element is a part or aspect of something abstract (the entity).
             It should be named with a noun/adjective (something describing
 *           an attribute, used to modify a noun it is related to)
 * Modifier: Verb-Adverb/Adjective. The modifier is something that makes partial
 *           or minor changes to something.
 *
 * Write your names like so:
 *
 * --In HTML--
 * box_element+modifier
 *
 * --In CSS--
 * box_element\+modifier
 *
 * And think of it like this:
 *
 * The box is the main object we are styling.  The element is the child item
 * or specific property of the object that we are targeting with our style.
 *
 * The modifier is a -difference- we are imposing upon the item from the 'norm'.
 *
 * I LOVE using the plus sign as a modifier. It's typically a standard to write
 * names which are compound words using a hyphen to separate the words. So it
 * is counter-intuitive to use hyphens (or a minus sign) to denote a removal
 * of a property. Therefore, if you want to signify a removal, just tack no-
 * to the beginning of a modifier name to indicate a removal of a style.
 *
 * --i.e. in HTML--
 * box_element+no-modifier
 *
 * --In CSS--
 * box_element\+no-modifier
 *
 * The Massively Modified approach is meant to shorten the length of names
 * that you'd get using straight BEM while still proposing the same basic
 * structure to naming that BEM provides, which IS helpful in organizing CSS
 * styles. The element/modifier approach helps greatly in organizing styles
 * because it helps you more easily visualize what a style is doing to an
 * element. Here's a comparison between straight BEM vs MEM
 *****************************************************************************/

 // Accounts holds customizations of login and registration forms, includiinig password reset forms etc
 //@import 'accounts';


/**** Nav / Top Bar Menu Styles  **/

.icon-logo-badge-small {
    margin: -6px 0;
    padding: 0;
    width: 32px;
    height: 32px;
    display: block;
    background: transparent url( '../images/mmod-logo-fin-32.png' ) no-repeat;
    background-size: contain;
    text-indent: 36px;
    line-height: 32px;

    &-dev {
        @extend .icon-logo-badge-small;
        background: transparent url( '../../images/mmod-logo-fin-32.png' ) no-repeat;
    }
}

.icon-donations {
    margin: 0 auto;
    padding: 0;
    width: 144px;
    height: 60px;
    display: block;
    background: white url( '../../images/mmod-donate-btn-2.png' ) no-repeat;
    background-size: contain;
    line-height: 32px;

    &-dev {
        @extend .icon-donations;
        background: white url( '../../images/mmod-donate-btn-2.png' ) no-repeat;
    }
}

.icon-brand-logo{
    margin: 8px 8px;
    padding: 0;
    width: 256px;
    height: 32px;
    display: block;
    background: transparent url( '//cdn.kwaeri.tk/mmod/kwaeri-ux/images/mmod-brand-fin-256x32.png' ) no-repeat;
    background-size: contain;
}

.dropdown-menu {
    margin-top:6px;
    padding: .5rem !important;
    background-color: #4F4F4F;
    color: #fff;
}

.navbar a.dropdown-item,
a.dropdown-item:hover {
    color: #fff !important;
}

a.dropdown-item:hover {
    background-color: #26323855;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

/**** Footer / Bottom Nav Styles ****/

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.icon-brand-poweredby {
    margin: 8px 8px;
    padding: 0;
    width: 256px;
    height: 32px;
    display: block;
    background: transparent url( '//cdn.kwaeri.tk/mmod/kwaeri-ux/images/mmod-brand-poweredby-256x32.png' ) no-repeat;
}

/** Page / Body Content & Structural Styles/overrides **/


.list\+make-featured {
    @include _mdc-image-list.masonry-columns(4);

    padding: 80px 100px 0 100px;
    overflow: auto;
}



.mdc-image-list__supporting {
    justify-content: center;
}

.mdc-image-list__item {
    padding: 10px;
}

.mdc-image-list__label {
    @include _mdc-typography.typography(subtitle2);
}


/**** Login/Reg Account-Related View Styles ****/

// Login Styles
.username,
.password {
    display: block;
    width: 300px;
    margin: 20px auto;
}

/**** Card Customization ****/

.card\+style-for-test {
    height: 450px;
    width: 350px;
    border: 20px solid #2e2e2e;
    @include _mdc-elevation.elevation(4);
  }


/**** Color Combinations for Cards ****/
.cadet {
  background-color: cadetblue;
  color: lightblue;
}

.rosey {
  background-color: rosybrown;
  color: linen;
}

.olive {
  background-color: darkolivegreen;
  color: gainsboro;
}

.khaki {
  background-color: darkkhaki;
  color: cornsilk;
}
