/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * 5. Prototyping styles (For rapid development)
 *
 *    5-A Typography
 *    5-B Structural/Layout
 *    5-C Colors
 * ------------------------
**/


/*******************************************************************************
 *  5-A TYPOGRAPHY
 ******************************************************************************/


.text {
    &\+centered {
        text-align: center;
    }

    &\+shrink-1 {
        font-size: -10%
    }
    &\+shrink-2 {
        font-size: -20%
    }
    &\+shrink-3 {
        font-size: -30%
    }
    &\+shrink-4 {
        font-size: -40%
    }
    &\+shrink-5 {
        font-size: -50%
    }
    &\+shrink-6 {
        font-size: -60%
    }
    &\+shrink-7 {
        font-size: -70%
    }
    &\+shrink-8 {
        font-size: -80%
    }
    &\+shrink-9 {
        font-size: -90%
    }
    &\+grow-1 {
        font-size: 10%
    }
    &\+grow-2 {
        font-size: 20%
    }
    &\+grow-3 {
        font-size: 30%
    }
    &\+grow-4 {
        font-size: 40%
    }
    &\+grow-5 {
        font-size: 50%
    }
    &\+grow-6 {
        font-size: 60%
    }
    &\+grow-7 {
        font-size: 70%
    }
    &\+grow-8 {
        font-size: 80%
    }
    &\+grow-9 {
        font-size: 90%
    }
    &\+grow-x1 {
        font-size: 100%
    }
    &\+grow-x2 {
        font-size: 200%
    }
    &\+grow-x3 {
        font-size: 300%
    }
    &\+grow-x4 {
        font-size: 400%
    }
    &\+grow-x5 {
        font-size: 500%
    }

    &\+black {
        color: black;
    }
    &\+white {
        color: white;
    }
}


/*******************************************************************************
 *  5-B STRUCTURAL
 ******************************************************************************/

.fix {
    position: fixed;
}

.cover-background {
    background-size: cover;
}

.hidden
{
    display: none !important;
}

// Drop top postiive
.drop{
    &\+5   {  top:   5%; }
    &\+10  {  top:  10%; }
    &\+15  {  top:  15%; }
    &\+20  {  top:  20%; }
    &\+50  {  top:  25%; }
    &\+30  {  top:  30%; }
    &\+35  {  top:  35%; }
    &\+40  {  top:  40%; }
    &\+45  {  top:  45%; }
    &\+50  {  top:  50%; }
    &\+55  {  top:  55%; }
    &\+60  {  top:  60%; }
    &\+65  {  top:  65%; }
    &\+70  {  top:  70%; }
    &\+75  {  top:  75%; }
    &\+80  {  top:  80%; }
    &\+85  {  top:  85%; }
    &\+90  {  top:  90%; }
    &\+95  {  top:  95%; }
    &\+100 {  top: 100%; }
    &\+200 {  top: 200%; }
    &\+300 {  top: 300%; }
    &\+400 {  top: 400%; }
    &\+500 {  top: 500%; }
    &\+600 {  top: 600%; }
    &\+700 {  top: 700%; }
    &\+800 {  top: 800%; }
    &\+900 {  top: 900%; }
    &\+1k {  top: 1000%; }
}

// Raise top negative
.raise {
    &\+5   {  top:   -5%; }
    &\+10  {  top:  -10%; }
    &\+15  {  top:  -15%; }
    &\+20  {  top:  -20%; }
    &\+50  {  top:  -25%; }
    &\+30  {  top:  -30%; }
    &\+35  {  top:  -35%; }
    &\+40  {  top:  -40%; }
    &\+45  {  top:  -45%; }
    &\+50  {  top:  -50%; }
    &\+55  {  top:  -55%; }
    &\+60  {  top:  -60%; }
    &\+65  {  top:  -65%; }
    &\+70  {  top:  -70%; }
    &\+75  {  top:  -75%; }
    &\+80  {  top:  -80%; }
    &\+85  {  top:  -85%; }
    &\+90  {  top:  -90%; }
    &\+95  {  top:  -95%; }
    &\+100 {  top: -100%; }
    &\+200 {  top: -200%; }
    &\+300 {  top: -300%; }
    &\+400 {  top: -400%; }
    &\+500 {  top: -500%; }
    &\+600 {  top: -600%; }
    &\+700 {  top: -700%; }
    &\+800 {  top: -800%; }
    &\+900 {  top: -900%; }
    &\+1k  {  top:-1000%; }
}

// Lower bottom negative
.lower {
    &\+5   {  bottom:   -5%; }
    &\+10  {  bottom:  -10%; }
    &\+15  {  bottom:  -15%; }
    &\+20  {  bottom:  -20%; }
    &\+50  {  bottom:  -25%; }
    &\+30  {  bottom:  -30%; }
    &\+35  {  bottom:  -35%; }
    &\+40  {  bottom:  -40%; }
    &\+45  {  bottom:  -45%; }
    &\+50  {  bottom:  -50%; }
    &\+55  {  bottom:  -55%; }
    &\+60  {  bottom:  -60%; }
    &\+65  {  bottom:  -65%; }
    &\+70  {  bottom:  -70%; }
    &\+75  {  bottom:  -75%; }
    &\+80  {  bottom:  -80%; }
    &\+85  {  bottom:  -85%; }
    &\+90  {  bottom:  -90%; }
    &\+95  {  bottom:  -95%; }
    &\+100 {  bottom: -100%; }
    &\+200 {  bottom: -200%; }
    &\+300 {  bottom: -300%; }
    &\+400 {  bottom: -400%; }
    &\+500 {  bottom: -500%; }
    &\+600 {  bottom: -600%; }
    &\+700 {  bottom: -700%; }
    &\+800 {  bottom: -800%; }
    &\+900 {  bottom: -900%; }
    &\+1k  {  bottom:-1000%; }
}

// Bench bottom positive
.bench {
    &\+5   {  bottom:   5%; }
    &\+10  {  bottom:  10%; }
    &\+15  {  bottom:  15%; }
    &\+20  {  bottom:  20%; }
    &\+50  {  bottom:  25%; }
    &\+30  {  bottom:  30%; }
    &\+35  {  bottom:  35%; }
    &\+40  {  bottom:  40%; }
    &\+45  {  bottom:  45%; }
    &\+50  {  bottom:  50%; }
    &\+55  {  bottom:  55%; }
    &\+60  {  bottom:  60%; }
    &\+65  {  bottom:  65%; }
    &\+70  {  bottom:  70%; }
    &\+75  {  bottom:  75%; }
    &\+80  {  bottom:  80%; }
    &\+85  {  bottom:  85%; }
    &\+90  {  bottom:  90%; }
    &\+95  {  bottom:  95%; }
    &\+100 {  bottom: 100%; }
    &\+200 {  bottom: 200%; }
    &\+300 {  bottom: 300%; }
    &\+400 {  bottom: 400%; }
    &\+500 {  bottom: 500%; }
    &\+600 {  bottom: 600%; }
    &\+700 {  bottom: 700%; }
    &\+800 {  bottom: 800%; }
    &\+900 {  bottom: 900%; }
    &\+1k  {  bottom:1000%; }
}

.pull-up {
    &\+5   {   margin-top:   -5%; }
    &\+10  {   margin-top:  -10%; }
    &\+15  {   margin-top:  -15%; }
    &\+20  {   margin-top:  -20%; }
    &\+50  {   margin-top:  -25%; }
    &\+30  {   margin-top:  -30%; }
    &\+35  {   margin-top:  -35%; }
    &\+40  {   margin-top:  -40%; }
    &\+45  {   margin-top:  -45%; }
    &\+50  {   margin-top:  -50%; }
    &\+55  {   margin-top:  -55%; }
    &\+60  {   margin-top:  -60%; }
    &\+65  {   margin-top:  -65%; }
    &\+70  {   margin-top:  -70%; }
    &\+75  {   margin-top:  -75%; }
    &\+80  {   margin-top:  -80%; }
    &\+85  {   margin-top:  -85%; }
    &\+90  {   margin-top:  -90%; }
    &\+95  {   margin-top:  -95%; }
    &\+100 {   margin-top: -100%; }
}

.pull-down {
    &\+5   {   margin-bottom:   -5%; }
    &\+10  {   margin-bottom:  -10%; }
    &\+15  {   margin-bottom:  -15%; }
    &\+20  {   margin-bottom:  -20%; }
    &\+50  {   margin-bottom:  -25%; }
    &\+30  {   margin-bottom:  -30%; }
    &\+35  {   margin-bottom:  -35%; }
    &\+40  {   margin-bottom:  -40%; }
    &\+45  {   margin-bottom:  -45%; }
    &\+50  {   margin-bottom:  -50%; }
    &\+55  {   margin-bottom:  -55%; }
    &\+60  {   margin-bottom:  -60%; }
    &\+65  {   margin-bottom:  -65%; }
    &\+70  {   margin-bottom:  -70%; }
    &\+75  {   margin-bottom:  -75%; }
    &\+80  {   margin-bottom:  -80%; }
    &\+85  {   margin-bottom:  -85%; }
    &\+90  {   margin-bottom:  -90%; }
    &\+95  {   margin-bottom:  -95%; }
    &\+100 {   margin-bottom: -100%; }
}

.push-down {
    &\+5   { margin-top:    5%; }
    &\+10  { margin-top:   10%; }
    &\+15  { margin-top:   15%; }
    &\+20  { margin-top:   20%; }
    &\+50  { margin-top:   25%; }
    &\+30  { margin-top:   30%; }
    &\+35  { margin-top:   35%; }
    &\+40  { margin-top:   40%; }
    &\+45  { margin-top:   45%; }
    &\+50  { margin-top:   50%; }
    &\+55  { margin-top:   55%; }
    &\+60  { margin-top:   60%; }
    &\+65  { margin-top:   65%; }
    &\+70  { margin-top:   70%; }
    &\+75  { margin-top:   75%; }
    &\+80  { margin-top:   80%; }
    &\+85  { margin-top:   85%; }
    &\+90  { margin-top:   90%; }
    &\+95  { margin-top:   95%; }
    &\+100 { margin-top:  100%; }
}

.push-up {
    &\+5   { margin-bottom:    5%; }
    &\+10  { margin-bottom:   10%; }
    &\+15  { margin-bottom:   15%; }
    &\+20  { margin-bottom:   20%; }
    &\+50  { margin-bottom:   25%; }
    &\+30  { margin-bottom:   30%; }
    &\+35  { margin-bottom:   35%; }
    &\+40  { margin-bottom:   40%; }
    &\+45  { margin-bottom:   45%; }
    &\+50  { margin-bottom:   50%; }
    &\+55  { margin-bottom:   55%; }
    &\+60  { margin-bottom:   60%; }
    &\+65  { margin-bottom:   65%; }
    &\+70  { margin-bottom:   70%; }
    &\+75  { margin-bottom:   75%; }
    &\+80  { margin-bottom:   80%; }
    &\+85  { margin-bottom:   85%; }
    &\+90  { margin-bottom:   90%; }
    &\+95  { margin-bottom:   95%; }
    &\+100 { margin-bottom:  100%; }
}

// Pulled from left side
.pulled-left {
    &\+5   { margin-left:   -5%; }
    &\+10  { margin-left:  -10%; }
    &\+15  { margin-left:  -15%; }
    &\+20  { margin-left:  -20%; }
    &\+50  { margin-left:  -25%; }
    &\+30  { margin-left:  -30%; }
    &\+35  { margin-left:  -35%; }
    &\+40  { margin-left:  -40%; }
    &\+45  { margin-left:  -45%; }
    &\+50  { margin-left:  -50%; }
    &\+55  { margin-left:  -55%; }
    &\+60  { margin-left:  -60%; }
    &\+65  { margin-left:  -65%; }
    &\+70  { margin-left:  -70%; }
    &\+75  { margin-left:  -75%; }
    &\+80  { margin-left:  -80%; }
    &\+85  { margin-left:  -85%; }
    &\+90  { margin-left:  -90%; }
    &\+95  { margin-left:  -95%; }
    &\+100 { margin-left: -100%; }
}

// Pushed from right sidee
.pushed-left {
    &\+5   { margin-right:    5%; }
    &\+10  { margin-right:   10%; }
    &\+15  { margin-right:   15%; }
    &\+20  { margin-right:   20%; }
    &\+50  { margin-right:   25%; }
    &\+30  { margin-right:   30%; }
    &\+35  { margin-right:   35%; }
    &\+40  { margin-right:   40%; }
    &\+45  { margin-right:   45%; }
    &\+50  { margin-right:   50%; }
    &\+55  { margin-right:   55%; }
    &\+60  { margin-right:   60%; }
    &\+65  { margin-right:   65%; }
    &\+70  { margin-right:   70%; }
    &\+75  { margin-right:   75%; }
    &\+80  { margin-right:   80%; }
    &\+85  { margin-right:   85%; }
    &\+90  { margin-right:   90%; }
    &\+95  { margin-right:   95%; }
    &\+100 { margin-right:  100%; }
}

// Pulled from right side
.pulled-right {
    &\+5   { margin-right:   -5%; }
    &\+10  { margin-right:  -10%; }
    &\+15  { margin-right:  -15%; }
    &\+20  { margin-right:  -20%; }
    &\+50  { margin-right:  -25%; }
    &\+30  { margin-right:  -30%; }
    &\+35  { margin-right:  -35%; }
    &\+40  { margin-right:  -40%; }
    &\+45  { margin-right:  -45%; }
    &\+50  { margin-right:  -50%; }
    &\+55  { margin-right:  -55%; }
    &\+60  { margin-right:  -60%; }
    &\+65  { margin-right:  -65%; }
    &\+70  { margin-right:  -70%; }
    &\+75  { margin-right:  -75%; }
    &\+80  { margin-right:  -80%; }
    &\+85  { margin-right:  -85%; }
    &\+90  { margin-right:  -90%; }
    &\+95  { margin-right:  -95%; }
    &\+100 { margin-right: -100%; }
}

// Pushed from left side
.pushed-right {
    &\+5   { margin-left:    5%; }
    &\+10  { margin-left:   10%; }
    &\+15  { margin-left:   15%; }
    &\+20  { margin-left:   20%; }
    &\+50  { margin-left:   25%; }
    &\+30  { margin-left:   30%; }
    &\+35  { margin-left:   35%; }
    &\+40  { margin-left:   40%; }
    &\+45  { margin-left:   45%; }
    &\+50  { margin-left:   50%; }
    &\+55  { margin-left:   55%; }
    &\+60  { margin-left:   60%; }
    &\+65  { margin-left:   65%; }
    &\+70  { margin-left:   70%; }
    &\+75  { margin-left:   75%; }
    &\+80  { margin-left:   80%; }
    &\+85  { margin-left:   85%; }
    &\+90  { margin-left:   90%; }
    &\+95  { margin-left:   95%; }
    &\+100 { margin-left:  100%; }
}

.not-elevated {
    z-index: 0;
}

.elevated {
    &\+-1 { z-index: -1; }
    &\+1  { z-index:  1; }
    &\+2  { z-index:  2; }
    &\+3  { z-index:  3; }
    &\+4  { z-index:  4; }
    &\+5  { z-index:  5; }
    &\+6  { z-index:  6; }
    &\+7  { z-index:  7; }
    &\+8  { z-index:  8; }
    &\+9  { z-index:  9; }
    &\+10 { z-index: 10; }
}

.inner-top-spacer {
    margin-top: 88px;
}

.nest-absolute-center {
    top: 50%;
    left: 50%;
}

.horizontally-centered {
    left: 0;
    right: 0;
    margin: auto;
    &\+absolute {
        @extend .horizontally-centered;
        position: absolute;
    }
}


/*******************************************************************************
 *  5-C COLORS
 ******************************************************************************/


.background {
    &\+transparent {
        background-color: transparent;
    }
    &\+black {
        background-color: black;
    }
    &\+white {
        background-color: white;
    }
}


