/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kux_md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
 *
 * ------------------------
 *
 * 3. Structural styles
 *
 *    3-A DOCUMENT
 *    3-B STRUCTURAL COMPONENTS
 *    3-C CONTROLS
 *    3-D CODE COMPONENTS
 * ------------------------
**/


// Includes
//@import './mixins/media-query';
//@import 'node_modules/@material/elevation';


/*******************************************************************************
 * MIMPORTS:
 ******************************************************************************/
@use './variables/material';
@use './variables/base';
@use './variables/structure';
@use './mixins/media-query';


/*******************************************************************************
 *  3-A DOCUMENT
 ******************************************************************************/

 // Make everything box-sizing: border-box
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   // It makes everything stay the width we set, despite borders and padding, etc.


// Create a 'clean slate'
html,body
{
    z-index: 0;

    &.\+full-height {
        height: 100%;
    }
}

body
{
    margin: 0;          // Important so overflowed focus-body elements don't cause 2 scrollbars to appear (one for focused body, and one for page)
    padding-top: 0.1px; // Prevent header h1 margin from pushing body down
    position: relative;
    background-color: material.$mdc-theme-background;
    color: material.$mdc-theme-on-background;
    font-family: base.$font-family-primary;
    z-index: 0;

    &.\+inverse-colors {
        background-color: base.$bg-color-inverse;
        color: base.$font-color-inverse;
    }

    &.\+flex {
        display: flex;
    }

    &.\+make-featured {
        //@include elevation(4);

        display: block;
        overflow: auto;
    }

}

footer
{
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: base.$bg-color-lowball;
    text-align: center;
}

.footer{
    padding: 100px 15px;
    text-align: center;
    font-size: 8pt;
}

hr {
    border-color: base.$separator-color-secondary;
    border-width: 1px 0 0;
    margin: 0;

    box-sizing: border-box;
    height: 0;
    overflow: visible;

    &.\+pull-left {
        @extend hr;

        width: 100vh;
        margin-left: -50%;
    }
}

p {
    margin: 0 0 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    line-height: 1.5rem;
}


/*******************************************************************************
 *  3-B STRUCTURAL COMPONENTS
 ******************************************************************************/

// These styles are for structural control
.container{ // The base container

    margin: 0 auto;
    padding: 0;
    width: 320px !important;
    display: block;

    @include media-query.generate( structure.$container-breakpoint-map );

    &.\+top {
        margin-top:88px;
    }

    &-fluid {
        margin: 0;
        padding: 0px 15px;
        width: auto;

        &.\+top {
            margin-top: 88px;
        }
    }

    &-flex {
        margin: 0;
        padding: 0;
        display: flex;  // Flex is a powerful system, this acts as a container for other items
                        // using 'flex' & 'flex-direction' directives
                        // Child elements should also be display: flex and can dictate the flow
                        // visually using flex-direction: column, column-count, column-gap and other
                        // directives

        &.\+top {
            margin-top: 88px;
        }
    }

    &-inline {
        @extend .container;
        margin: 0;
        padding: 0;
        display: inline-block;

        &.\+fluid {
            padding: 0 15px;
            width: auto;
        }

    }

}


.feature {
    width: 768px;
    margin: 0 auto;
}

.featured {
    margin: 0 auto;

    &.\+read-easy {
        width: 768px;
    }

    &.\+fill-viewport {
        height:100vh;
        width:100%;
    }
}

.featurette {
    margin: 40px 0;
}

.article_header {
    margin: 10px 0;
    padding: 20px 0;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    //border-bottom: 1px solid $separator-color-primnary;

    &\+wider {
        margin: 0 auto;
        display: inline-block;
        height: auto;
        width: 60%;
    }

    &\+related {
        margin: 0 auto;
        display: inline-block;
        height: auto;
        width: 30%;
    }

    &\+sub {
        @extend .article_header;

        padding: 48px 0;
    }

    .content_related-list {
        list-style: none;

        li {
            margin: 0 auto;
            padding: 10px 0;
            font-size: 1.15rem;
        }

        li:first-child {
            padding-top: 0px;
        }
    }
}


// This might get hard to follow, but here is the article structural styling:
.article_section {

    // Media query controlled widths if not a static all-around

    // The section_body within an article (articles have many sections potentially)
    .section_body {
        position: relative;

        // Is comprised of any number of fragments per section
        .fragment {
            margin-bottom: 48px;
            padding-top: 48px;

            // Every fragment after the first should have a top border for clear separation
            &~.fragment {
                border-top: 1px solid base.$separator-color-primnary;
            }

            // Fragments can be collapsible
            &.\+collapsible {
                @extend .fragment;
                transition: margin .2s cubic-bezier( .4, 0, .2, 1 );

                // If collapsible, it'll have a collapsible capsule with controls for the collapsibility :P
                .collapsible_capsule {
                    cursor: pointer;
                    margin: 0 0 24px;

                    // Such as a toggle button
                    .collapsible_toggle {
                        height: 24px;
                        width: 24px;
                        display: flex;
                        transition: box-shadow 365ms cubic-bezier( .4, 0, .2, 1 );
                        border-radius: 50%;
                        box-shadow: 0 1px 2px rgba( 0, 0, 0, .3 );
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                    }

                    // And styling for the control aspect of it as well
                    .toggle-button {
                        right: 0;
                        margin-top: 3px;
                        position: absolute;
                        transition: transform 365ms;

                        &:before {
                            color: rgba( 32, 33, 36, .5 );
                            content: 'keyboard_arrow_up';
                            font-family: 'Material Icons';
                            font-feature-settings: 'liga' 1;
                            font-size: 20px;
                            transition: transform 365ms cubic-bezier( .4, 0, .2, 1 );
                        }

                        // And the buttons flip state (it spins up or down depending on collapse state)
                        &.flip {
                            transform: rotate( 180deg );
                            transition: transform 365ms;
                        }
                    }

                    // A Header (heading) will be present in the capsule (it separates it form the collapsible body)
                    .fragment_heading {
                        padding-right: calc( ( 16px * 2 ) + 24px );

                        line-height: 1.2;
                        margin: 0 0 8px;
                    }
                }

                // Under the capsule is a wrapper containing preview text (for when the fragment is collapsed), and the fragment content
                // that is displayed when the fragment is expanded
                .fragment_wrap {
                    height: auto;
                    position: relative;         // By default the wrappers position will be relative
                    transition-delay: 0s;
                    transition: height .75s cubic-bezier( .4, 0, .2, 1 );

                    // Preview text takes an absolute position by default and turns invisible, allowing the content to flow over it. Since it is
                    // shorter than the content (hopefully), there's no need to worry about overflow extending the wrapper beyond the content.
                    .fragment_hint {
                        position: absolute;
                        margin: 0;
                        width: 100%;
                        opacity: 0;
                        //padding-right: calc( 100% -560px );
                        pointer-events: none;
                        transition: opacity .135s linear;
                    }

                    // Content will take a relative position by default, forcing the wrapper to wrap its full height, Since the wrapper
                    // overflow property is _not_ hidden and the preview is hidden and shorter than the content - it is what we see.
                    .fragment_content {
                        opacity: 1;
                        transition: opacity 85ms linear .115s;
                        width: 100%;
                    }
                }

                // Here is the collapsible fragments collapsed state
                &.collapsed {
                    overflow: hidden;

                    // The wraper will take an overflow hidden property
                    .fragment_wrap {
                        @extend .fragment_wrap;
                        overflow: hidden;

                        // The preview will take relative position, and become visible
                        .fragment_hint {
                            @extend .fragment_hint;

                            position: relative;
                            opacity: 1;
                            pointer-events: auto;
                            transition: opacity .165s linear 35ms;
                        }

                        // While the content will take an absolute position (and become overflow to the wrapper), allowing the wrapper
                        // to shrink over it. It will also become invisible, this will produce our collapse effect.
                        .fragment_content {
                            @extend .fragment_content;

                            position: absolute;
                            opacity: 0;
                            pointer-events: none;
                            transition-delay: 0;
                        }

                        // This collapse implementation is very simple, allowing for minimal interference from javascript, and at the same time
                        // prevents a fall-up (rise up) effect from occuring when either the preview or the content become invisible and fall out
                        // of content flow - since one or the other always is absolute and top: 0. The transition will appear smooth and controlled
                        // providing a very proprietary fell ( or less 'toy like'.)
                    }
                }
            }
        }
    }


    // If we ever put an unordered list into our article section(s), this shall remove bullets, starting us off with a base
    // for such styling.
    .section_related-list {
        @extend .content_related-list;

        li {
            margin: 0 auto;
            padding: 10px 0;
            font-size: 1.15rem;
        }

        li:first-child {
            padding-top: 0px;
        }
    }
}



/*******************************************************************************
 * 3-C Conrols
 ******************************************************************************/

 button {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background: 0 0;
     border: 0;
     cursor: pointer;
     overflow: visible;
     font-family: inherit;
     font-size: 100%;
     line-height: 1.15;

    //&:focus {
        //outline: 0;
    //}
 }

.button {
    padding: 0;
    margin: 0;
    background: 0 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    overflow: visible;
}

.mdc-form-field {

    label {
        color: base.$font-color-primary;
    }
}

body.\+inverse-colors .mdc-form-field {
    label {
        color: base.$font-color-inverse;
    }
}

/*******************************************************************************
 *  3-D CODE COMPONENTS
 ******************************************************************************/

pre, code {
    font-family: base.$font-family-code !important;
}

code {
    margin: 0;
    padding: 0;
    background-color: material.$mdc-theme-background;
    color: material.$mdc-theme-primary;
    font-family: base.$font-family-code !important;
    text-align: left;
}

p > code {
    padding: 0px 5px;
    font-weight: 400;
}

body.\+inverse-colors p > code {
    color: base.$font-color-code-inverse;
}

li > code {
    padding: 0px 5px;
    font-weight: 400;
}

body.\+inverse-colors li > code {
    color: base.$font-color-code-inverse;
}


/*******************************************************************************
 *  3-E LIST STRUCTURE
 ******************************************************************************/

 /*
ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2rem;
}

ul li:before {
    content: '\2610';
    position: absolute;
    left: 0;
}

*/
 ul > li {
     list-style-type: disc;

     > ul > li {
         list-style-type: square;

         > ul > li {
             list-style-type: circle;
         }

     }
 }