/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kux_md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
 *
 * ------------------------
 * 2. Typography Styles
 * ------------------------
**/



.console-font {
    font-family: Roboto Mono;
    font-size: 14pt;
}

h1 {
    font-size: 3.0rem;
    font-weight: bolder;

    &.standard{
        @extend h1;
    }
}

h2 {
    font-size: 2.75rem;
    font-weight: bold;

    &.standard{
        @extend h2;
    }
}

h3 {
    font-size: 2.5rem;
    font-weight: 900;

    &.standard{
        @extend h3;
    }
}

h4 {
    font-size: 2.25rem;
    font-weight: 800;

    &.standard{
        @extend h4;
    }
}

h5 {
    font-size: 2.0rem;
    font-weight: 700;

    &.standard{
        @extend h5;
    }
}

h6 {
    font-size: 1.75rem;
    font-weight: 600;

    &.standard{
        @extend h6;
    }
}

article.featured_article,
.featured_article {

    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .05em;
    text-decoration: inherit;
    text-transform: inherit;

    h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 400;

        &.standard{
            font-size: 3.0rem;
            line-height: 3.0rem;
            font-weight: bolder;
        }
    }

    h2 {
        font-size: 2.85rem;
        line-height: 2.85rem;
        font-weight: 400;

        &.standard{
            font-size: 2.75rem;
            line-height: 2.75rem;
            font-weight: bold;
        }
    }

    h3 {
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: 400;

        &.standard{
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: 900;
        }

    }

    h4 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        font-weight: 400;

        &.standard{
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-weight: 800;
        }
    }

    h5 {
        font-size: 1.425rem;
        line-height: 1.425rem;
        font-weight: 400;

        &.standard{
            font-size: 2.0rem;
            line-height: 2.0rem;
            font-weight: 700;
        }
    }

    h6 {
        font-size: 1.25rem;
        line-height: 1.25rem;
        font-weight: 400;

        &.standard{
            font-size: 1.75rem;
            line-height: 1.75rem;
            font-weight: 600;
        }
    }

    p {
        font-size: 1.15rem;
        line-height: 1.75rem;
        font-weight: 100;
    }

    .content_related-list\+title {

        margin: 0 auto;
        margin-left: 40px;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 200;
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.15rem;
        font-weight: 100;
        line-height: 1.75rem;

    }

}