/**
 * @package:     kwaeri-user-experience SCSS
 * @sub-package: base-vars
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
**/


/******************************************************************************
 * BASE VARS: - Be sure to compliment the MDC theme colors
 *****************************************************************************/
$font-family-primary:           Roboto, sans-serif;
$font-family-code:              Roboto Mono, sans-serif;
$bg-color-primary:              #2e2e2e;   // ffffff
$bg-color-hl:                   #616161;
$bg-color-midhl:                #424242;
$bg-color-lowball:              #212121;
$bg-color-inverse:              #fdfdfd;

$font-color-primary:            #787878; // 666666
$font-color-secondary:          #212121;
$font-color-dark:               #656565;
$font-color-lowball:            #373737;
$font-color-highlight:          #fdfdfd;
$font-color-inverse:            #212121;
$font-color-code-inverse:       #1e83d6; /*66d9ef*/

$separator-color-primnary:      #e4e4e4;
$separator-color-secondary:     rgba(0,0,0,.12);
