/**
 * @package:     kwaeri-user-experience SCSS
 * @sub-package: grid-vars
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
**/


/******************************************************************************
 * GRID MEASUREMENTS:
 *****************************************************************************/
$breakpoints: (
    desktop: 840px,
    tablet: 600px,
    phone: 0px,
) !default;

$columns: (
    desktop: 12,
    tablet: 8,
    phone: 4,
) !default;

$default-margin: (
    desktop: 24px,
    tablet: 16px,
    phone: 16px,
) !default;

$default-gutter: (
    desktop: 24px,
    tablet: 16px,
    phone: 16px,
) !default;

$column-width: (
    desktop: 72px,
    tablet: 72px,
    phone: 72px,
) !default;

$default-column-span: 4 !default;

$max-width: null !default;

$column-breakpoint-map: (
    pl: ( "width": "480px !important" ),
    ts: ( "width": "600px !important" ),
    tl: ( "width": "840px !important" ),
    ds: ( "width": "960px !important" ),
    dm: ( "width": "1280px !important" ),
    dl: ( "width": "1440px !important" ),
    dxl: ( "width": "1600px !important" )
);