/**
 * @package:     kwaeri-user-experience SCSS
 * @sub-package: variables
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
**/


/*******************************************************************************
 * MATERIAL DESIGN THEME VARIABLES
 ******************************************************************************/
$mdc-theme-background:      #ffffff;    // Main background of component objects, such as drawer (left nav object)
$mdc-theme-on-background:   #212121;    // Text color on background
$mdc-theme-surface:         #ffffff;    // Surface of components (i.e. textfields input backgrounds)
$mdc-theme-on-surface:      #212121;    // Text color on surfaces (i.e. textfields input color)
$mdc-theme-primary:         #546e7a;    // Component (like Buttons) colors, etc
$mdc-theme-on-primary:      #ffffff;    // Label Text, Button Text,
$mdc-theme-secondary:       #424242;    // Highlights and accents
$mdc-theme-on-secondary:    #ffffff;    // Text on highlights and within accent colors