/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 * Sidebar
 *
 *     A Sidebar Colors (Side-Menu)
 * ------------------------
**/


/*******************************************************************************
 *  A SIDEBAR COLORS (Side-Menu)
 ******************************************************************************/
$sidebar-bg-color:                          #212121;
$sidebar-nav-bg-color:                      #6e6e84;
$sidebar-nav-btn-color:                     rgba( 0, 0, 0, 0.2 );
$sidebar-border-color:                      #080808;
$sidebar-border-light-color:                #dddddd;
$sidebar-font-color:                        #FFFFFF;
$sidebar-font-darker-color:                 #eeeeee;
$sidebar-font-darker-hover-color:           #bfbff3;
$sidebar-collapse-btn-font-color:           #888888;
$sidebar-collapse-btn-hover-font-color:     #cccccc;
$sidebar-font-shadow-color:                 #666666;
$sidebar-box-shadow-color:                  #333333;

$short-nav-bg-color:                        #ffffff;
$short-nav-primary:                         #e4e4e4;

