/**
 * @package:     kwaeri-user-experience SCSS
 * @sub-package: feature-vars
 * @author:      Richard B. Winters <a href="mailto:rik@mmod.co">rik AT mmod DOT co</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.2.0
**/


/******************************************************************************
 * STRUCTURE MEASUREMENTS:
 *****************************************************************************/
$container-breakpoint-map: (
    pl: (
        width: 426px !important
    ),
    ts: (
        width: 532px !important
    ),
    tl: (
        width: 746px !important
    ),
    ds: (
        width: 852px !important
    ),
    dm: (
        width: 1136px !important
    ),
    dl: (
        width: 1278px !important
    ),
    dxl: (
        width: 1420px !important
    ),
    hd: (
        width: 1704px !important
    )
);


/******************************************************************************
 * FEATURE MEASUREMENTS:
 *****************************************************************************/
$feature-breakpoint-map: (
    pl: (
        width: 426px !important
    ),
    ts: (
        width: 532px !important
    ),
    tl: (
        width: 746px !important
    ),
    ds: (
        width: 852px !important
    ),
    dm: (
        width: 1136px !important
    ),
    dl: (
        width: 1278px !important
    ),
    dxl: (
        width: 768px !important
    ),
    hd: (
        width: 768px !important
    )
);
