/******************************************************************************
 *
 * SANDBOX STYLES
 *
 *****************************************************************************/

 /**** COLORS ****/

 p.test-label {
    font-family: Roboto;
    font-size: 18pt;
    font-weight: 100;
}
p.console {
    font-family: Roboto Mono;
    font-size: 14pt;
}
.ivory-text {
    color: ivory;
}
.cornsilk-text {
    color: cornsilk;
}
.khaki-text {
    color: khaki;
}
.yellow-text {
    color: yellow;
}
.yellowgreen-text {
    color: yellowgreen;
}
.green-text {
    color: green;
}
.chartreuse-text {
    color: chartreuse;
}
.green-text {
    color:chartreuse;
}
.palegreen-text {
    color: palegreen;
}
.honeydew-text {
    color: honeydew;
}
.paleturqoise-text {
    color: paleturquoise;
}
.blue-text {
    color: lightskyblue;
}
.skyblue-text {
    color: skyblue;
}
.powderblue-text {
    color: powderblue;
}
.aliceblue-text {
    color: aliceblue;
}
.purple-text {
    color: lavender;
}
.orchid-text {
    color: orchid;
}
.violet-text {
    color: #ee82ee;
}
.pinkish-text {
    color: lavenderblush;
}
.mistyrose-text {
    color: mistyrose;
}
.pink-text {
    color: pink;
}
.red-text {
    color: lightcoral;
}
.salmon-text {
    color: salmon;
}
.hot-pink-text {
    color: hotpink;
}
.orange-text {
    color: lightsalmon;
}
.bisque-text {
    color: bisque;
}
.seashell-text {
    color: seashell;
}


/**** LAYOUT ****/
