/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 *  Animaton
 * ------------------------
**/


// Mandatory for animations from this component
.animate-it {

  // Rotations:
  &.rotate-it {
    &.__left-and-right {
      &.--with-bounce {
        animation: rotation 5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
      }
    }
  }

  // Linear transitions
  &.slide-it {
    &.__up {
      &.--on-right {
        position: absolute;
        width: 30vw;
        height: 20vh;
        bottom: 0;
        right: 50px;
        overflow: hidden;
        background-color: #000; color: #FFF;
        transition: all 1s;

        &.--paused {
          bottom: 0;
          height: 0;
          transition: all 1s;
        }
      }
    }
  }
}

// For our rotation effect
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(359deg);
  }
}
