/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 *  Chatx
 * ------------------------
**/


@import '../mixins/colors';


//Colors
$chatx-bg-base-color:               #222222;
$chatx-bg-gradient-darker-color:    #444444;
$chatx-bg-gradient-lighter-color:   #333333;
$chatx-window-bg-color:             rgba(240, 240, 240, 0.2);
$chatx-border-base-color:           #101010;
$chatx-border-light-color:          #333333;
$chatx-border-lightp1-color:        #444444;
$chatx-text-base-color:             #FFFFFF;
$chatx-text-light-color:            #333333;
$chatx-text-lightp1-color:          #444444;
$chatx-text-lighter-color:          #888888;
$chatx-text-lightest-color:         #eeeeee;


[data-toggle="chatx"] {
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 54px;
    /* min-height: 54px;*/
    background-color: $chatx-bg-base-color;
    border: 1px solid $chatx-border-base-color;
    border-top-left-radius: 3px;
    position: fixed;
    z-index: 720720720;

    .mmchatx-scroll {
        height: 325px;
        overflow-y: auto;
    }
}

[data-frame="chatx"] {
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $chatx-bg-base-color;
    border: 1px solid $chatx-border-base-color;
    border-top-left-radius: 3px;
    position: fixed;
    z-index: 720720720;

    .mmchatx-scroll {
        right: -24px;
        margin-left: -0.5%;
        margin-right: 200px;
        padding-left: 200px;
        padding-right: 24px;
        padding-bottom: 40px;
        height: 100%;
        min-width: 480px;
        width: 100%;
        overflow-y: auto;
        position: fixed;
    }
}

[data-toggle="chatx"].navbar-blended {
    background-color: $chatx-window-bg-color;
    border-color: $chatx-border-light-color;
}

[data-toggle="chatx-pop"] {
    margin: 0 0;
    padding: 0px 0px 48px 1px;
    min-width: 480px;
    max-width: 480px;
    min-height: 240px;
    max-height: 386px;
    overflow-y: hidden;
    background-color: $chatx-bg-base-color;
    border-color: $chatx-border-base-color;
    color:$chatx-text-base-color;
}

[data-frame="chatx-pop"] {
    margin: 0 0;
    padding: 0px 0px 40px 1px;
    min-width: 480px;
    height: 100%;
    overflow: hidden;
    background-color: $chatx-bg-base-color;
    border-color: $chatx-border-base-color;
    color:$chatx-text-base-color;
}


[data-scroll="chatx"] {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-top: 10px;
        padding: 0 10px;
    }
}

[data-toggle="chatx-pop"] > form#mmchatx-input,
[data-frame="chatx-pop"] > form#mmchatx-input {
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    color: $chatx-text-light-color;
}

[data-frame="chatx-pop"] > form#mmchatx-input {
    position: fixed;
}

[data-toggle="chatx-pop"] > form#mmchatx-input > input,
[data-frame="chatx-pop"] > form#mmchatx-input > input {
    margin: 0;
    margin-left: -.5%;
    padding: 10px;
    width: 90%;
    border: 0;
}

[data-toggle="chatx-pop"] > form#mmchatx-input > input {
    width: 432px;
}

[data-toggle="chatx-pop"] > form#mmchatx-input button,
[data-frame="chatx-pop"] > form#mmchatx-input button {
    margin: 0;
    margin-right: -0.5%;
    padding: 10px 10px;
    width: 11%;
    border: none;
    color: $chatx-text-light-color;
    text-align: center;
}

[data-toggle="chatx-pop"] > form#mmchatx-input button {
    width: 48px;
}

[data-drag="chatx"] {
    margin: 0;
    margin-right: .10%;
    padding: 0px 0px 20px 0px;
    width: 80%;
    height: 15px;
    display: inline-block;
    border: none;
    text-align: center;
    top: 0;
    background-color: $chatx-window-bg-color;
    color: $chatx-text-lightest-color;
    line-height: 1.42857143;
    vertical-align: middle;
}

a.btn.opn.chatx {
    margin: 0;
    padding: 16px 0px 16px 5px;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    top: 0;
    right: 0;
    background: $chatx-window-bg-color;
    color: $chatx-text-lightest-color;
    font-size: 10px;
    background-size: 18px 18px;
}

a.btn.opn.chatx:before {
    width: 100%;
    height: 100%;
}

a.btn.min.chatx {
    margin: 0;
    padding: 0px 0px 20px 0px;
    width: 9%;
    height: 15px;
    border: none;
    text-align: center;
    top: 0;
    background: $chatx-window-bg-color;
    color: $chatx-text-lightest-color;
    font-size: 10px;
}

a.btn.cls.chatx {
    margin: 0;
    padding: 0px 0px 20px 0px;
    width: 9%;
    height: 15px;
    border: none;
    text-align: center;
    top: 0;
    background: $chatx-window-bg-color;
    color: $chatx-text-lightest-color;
    font-size: 10px;
}

.mmchatx-scroll-users {
    top: 0;
    right: -7px;
    margin-right: -0.5%;
    padding-bottom: 40px;
    width: 207px;
    height: 100%;
    display: block;
    position: fixed;
    background-color: $chatx-bg-base-color;
    border-left: $chatx-border-light-color;
    overflow-y: auto;

    ul {
        list-style-type: none;
    }
}

.mmchatx-scroll ul>li>div.mmchatx-spacer {
    display: table;
    width: 100%;
}

.mmchatx-scroll ul>li.me>div.mmchatx-spacer {
    text-align: left;
}

.mmchatx-scroll ul>li.them>div.mmchatx-spacer {
    text-align: right;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group {
    margin: 0;
    padding: 0;
    display: table-row-group;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row {
    margin: 0;
    padding: 0;
    display: table-row;

}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-caption {
    margin: 0;
    padding: 0;
    display: table-caption;
    caption-side: bottom;
}

.mmchatx-scroll ul>li.me>div.mmchatx-spacer>div.mmchatx-message-caption {
    text-align: left;
}

.mmchatx-scroll ul>li.them>div.mmchatx-spacer>div.mmchatx-message-caption {
    text-align: right;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-left-cell {
    margin: 0;
    padding: 0;
    display: table-cell;
}

.mmchatx-scroll ul>li.me>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-left-cell {
    width: 36px;
    vertical-align: bottom;
}

.mmchatx-scroll ul>li.them>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-left-cell {
    text-align: right;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-right-cell {
    margin: 0;
    padding: 0;
    display: table-cell;
}

.mmchatx-scroll ul>li.them>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-right-cell {
    width: 36px;
    vertical-align: top;
}

.mmchatx-scroll ul>li.me>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row>div.message-right-cell {
    text-align: left;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right {
    position: relative;
    padding: 15px;
    margin: 1em 0 0.5em;
    display: inline-block;
    color: $chatx-text-base-color;
    background: $chatx-bg-base-color;
    @include generate-linear-gradient('#444', '#333');
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right.them {
    right: 0;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right.left {
    left: 0;
    border-bottom-left-radius: 0px;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right.left:after {
    content: "";
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0px;
    left: -10px;
    border-width: 0 5px 5px 10px;
    border-style: solid;
    border-color:$chatx-border-light-color transparent;
    display: block;
    width: 0;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right.right {
    right: 0;
    border-top-right-radius: 0px;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-row-group>div.mmchatx-message-row p.triangle-right.right:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    bottom: auto;
    left: auto;
    border-width: 0px 0px 5px 10px;
    border-style: solid;
    border-color: transparent $chatx-border-lightp1-color;
    display: block;
    width: 0;
}

.mmchatx-scroll ul>li>div.mmchatx-spacer>div.mmchatx-message-caption p.mmchatx-message-ts {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: $chatx-text-lighter-color;
}

.mmchatx-scroll ul>li.me>div.mmchatx-spacer>div.mmchatx-message-caption p.mmchatx-message-ts {
    margin-left: 40px;
}

.mmchatx-scroll ul>li.them>div.mmchatx-spacer>div.mmchatx-message-caption p.mmchatx-message-ts {
    margin-right: 40px;
}