/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * Draggable styles
 *
 *    A Draggable core styles
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use '../variables/material';


/*******************************************************************************
 *  A Draggable Core Styles
 ******************************************************************************/

.draggable {
    left: 300;
    top: 80;
    position: fixed;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 200px;
    background-color: material.$mdc-theme-background;
    color: material.$mdc-theme-on-background;;
    box-shadow: 5px 3px 2px #444;
    border-radius: 3px;
    z-index: 100;

    &_handle {
        padding-top:20px;
        width: 100%;
        height: 56px;
        background-color: material.$mdc-theme-primary;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: move;
        position: relative;
        font-weight: 600;
        text-align: center;
    }

    .draggable_content {
        padding: 10px;
        position:relative;
    }
}