/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 *  Game Platform
 * ------------------------
**/

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}

.kweari-container.fluid {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.kwaeri-fps {
    margin: 0;
    padding: 10px;
    width: auto;
    height: auto;
    position: fixed;
    top: 2px;
    left: 2px;
    z-index: 1;
    background: rgba( 0, 0, 0, 0.5 );
    color: #FF0000;
    border-radius: 3px;
}

.kwaeri-canvas {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.kwaeri-gui {


    &.mdockable {
        margin: 0;
        padding: 0 2px;
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 2px;
        left: 0;
        z-index: 1;
        background: transparent;
        color: #FF0000;
        border-radius: 3px;
    }

    .mhotbar {
        margin: 0;
        padding: 0;
        width: auto;
        height: 56px;
        position: relative;
        display: inline-block;
        z-index: 1;
        background: rgba( 0, 0, 0, 0.5 );
        color: #FFFFFF;
        border-radius: 3px;

        .hotbar-list {
            margin: 0;
            padding: 0;
            width: auto;
            height: 56px;
            position: relative;
            display: block;
            z-index: 1;
            background: transparent;
            color: #FFFFFF;
            border-radius: 3px;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
                width: auto;
                height: 56px;
                position: relative;
                display: block;
                float: left;
                background: transparent;
            }
        }
    }

    .msysio {
        margin: 0;
        padding: 0;
        min-width: 510px;
        max-width: 510px;
        min-height: 282px;
        max-height: 386px;
        position: relative;
        display: inline-block;
        z-index: 1;
        background: rgba( 0, 0, 0, 0.5 );
        color: #FFFFFF;
        border-radius: 3px;
    }
}

.mmchatx-pop {
    background: transparent;
}

[data-toggle="chatx-pop"] {
    padding: 0px 0px 6px 1px;

    > form#mmchatx-input > input {
        background: transparent;
        color: #fff;
    }
}

.mmchatx-scroll {
    width: 100%;
    height: 194px;
}


/**** BUTTONS & COLORS ****/

@keyframes tabPulseDark {
  from { background: transparent; -webkit-box-shadow: none; }
  50% { background: rgba( 73, 109, 137, 0.3 ); -webkit-box-shadow: 0 0 18px #496d89; }
  to { background: transparent; -webkit-box-shadow: none; }
}

.nav-tabs {
    border: none;
    border-bottom: 1px solid #496d89;

    > li {
        background: transparent;

        > [data-toggle="tab"],
        > [data-toggle="tab"]:focus{
            animation-name: none;
            -webkit-animation-name: none;
            background: transparent;
            color: #ddd;
            font-weight: normal;
            border: 1px solid transparent;
        }
        > [data-toggle="tab"]:hover {
            border: 1px solid #496d89;
            animation-name: tabPulseDark;
            -webkit-animation-name: tabPulseDark;
            animation-duration: 2s;
            -webkit-animation-duration: 2s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }

        &.active > [data-toggle="tab"],
        &.active > [data-toggle="tab"]:focus{
            animation-name: none;
            -webkit-animation-name: none;
            background: transparent;
            color: #fff;
            font-weight: bold;
            border: 1px solid transparent;
        }
        &.active > [data-toggle="tab"]:hover {
            animation-name: none;
            -webkit-animation-name: none;
            background: transparent;
            border: 1px solid transparent;
            color: #fff;
        }
    }
}

[data-scroll="battlex"],
[data-scroll="systemx"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[data-scroll="battlex"] li,
[data-scroll="systemx"] li {
    margin-top: 10px;
    padding: 0 10px;
}

[data-toggle="battlex"] .mmbattlex-scroll,
[data-toggle="systemx"] .mmsystemx-scroll {
    height: 325px;
    overflow-y: auto;

}