/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * IMAGE STYLES
 *
 *    A Image Components
 * ------------------------
**/


.image{
    &--fluid {
        max-width: 100%;
        height: auto;
    }

    &--rounded {
        border-radius: 5px;
    }

    &--circular {
        border-radius: 100%;
    }
}

.image-link {
    text-decoration: none;

    &.\+horizontally-centered {
        @extend .image-link;

        margin: 0 auto;
    }
}
