/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * 7. Material Design FLoating Button Overrides
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use '../mixins/vendor';


$bg-color-lowball:       rgba( #cccccc, 0.5 );


.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.btn-floating {
    margin: 10px;
    padding: 0;
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    background-color: $bg-color-lowball;
    @include vendor.generate-properties( 'transition', 'all 2s ease-in-out' );
    @include vendor.generate-properties( 'border-radius', '50%' );
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

