/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 * TOC
 *
 * Navigation Component
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use '../variables/material';
@use '../variables/base';
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar/mixins" as _mdc-top-app-bar;

/*** Top App Bar (Material Design Toolbar Replacement) ****/

.mdc-top-app-bar--fixed {

    top: 0px;
    margin-top: 0;
    z-index: 4;
    transition: margin-top 235ms cubic-bezier( 0.4, 0, 0.2, 1 );

    // Sets the ink color of the top app bar.
    @include _mdc-top-app-bar.ink-color( material.$mdc-theme-on-primary );

    // Sets the ink color of the top app bar icons.
    @include _mdc-top-app-bar.icon-ink-color( material.$mdc-theme-on-primary );

    // Sets the fill color of the top app bar.
    @include _mdc-top-app-bar.fill-color( material.$mdc-theme-primary );

    // Sets the fill color of the top app bar and automatically sets a high-contrast ink color.
    //mdc-top-app-bar-fill-color-accessible($color)

    // Sets the border-bottom-radius property on the action item side. Used only for the short top app bar when collapsed.
    //mdc-top-app-bar-short-border-radius($border-radius)

    .mdc-menu{

        .mdc-menu__items {

            //&.mdc-list {

            //}

            .mdc-list-item {

                .drop-down_item {
                    text-decoration: none;
                    color: material.$mdc-theme-on-background;

                    &:hover {
                        color: material.$mdc-theme-primary;
                    }
                }
            }

        }
    }

    &.\+inverse-colors {
        //@extend .mdc-top-app-bar--fixed;

        @include _mdc-top-app-bar.ink-color( base.$font-color-inverse );

        @include _mdc-top-app-bar.icon-ink-color( base.$font-color-inverse );

        @include _mdc-top-app-bar.fill-color( base.$bg-color-inverse );
    }


}

.navbar_brand {
    margin-left: 24px !important;
}

.client-nav-grp{
    display: none;

    &.active {
        display: block;
    }
}

.main-nav-btn{
    cursor: pointer;
}