/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * Progress bars and loaders
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use '../mixins/vendor';


// Colors
$progress-bar-color-primary: #b91F1F;


[data-purpose="progress"] {
    position: fixed;
    opacity: 1;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 0%;
    height: 2px;
    background: $progress-bar-color-primary;
    @include vendor.generate-properties('border-radius', 1px);
    @include vendor.generate-properties('transition', 'width 500ms ease-out,opacity 400ms linear');

    dd, dt {
        position: absolute;
        top: 0;
        height: 2px;
        @include vendor.generate-properties('box-shadow', '#{$progress-bar-color-primary} 1p 0 6px 1px');
        @include vendor.generate-properties('border-radius', '100%');
    }

    dd {
        opacity: 1;
        width: 20px;
        right: 0;
        clip: rect(-6px,22px,14px,10px);
    }

    dt {
        opacity: 1;
        width: 180px;
        right: -80px;
        clip: rect(-6px,90px,14px,-6px);
    }
}

[data-purpose="progress"].finished {
    opacity: 0 !important;
}

[data-purpose="progress"].notransition {
    @include vendor.generate-properties('transition', 'none !important');
}

@-moz-keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: .6
    }
}

@-o-keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: .6
    }
}

@keyframes pulse {
    30% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

[data-purpose="progress"].waiting dd,[data-purpose="progress"].waiting dt {
    @include vendor.generate-properties('animation', 'pulse 2s east-out 0s infinite');
}

[data-purpose="progress"].notransition dd,[data-purpose="progress"].notransition dt {
    @include vendor.generate-properties('animation', 'none !important');
}

.mmod-loader {
  width: 81px;
  float: right !important;
}

.icon-logo-badge-small.spin {
    @include vendor.generate-properties('animation', 'spin 0.5s linear infinite');
}

.icon-logo-badge-small.spin-stop {
    @include vendor.generate-properties('animation', 'spin 0.5s linear 1');
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }