/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2021 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 * Sidebar
 *
 *     A Sidebar Styles (Side-Menu)
 *     B Sidebar Styles (Short-Nav/scrollspy)
 *     C Legacy Sidebar
 * ------------------------
**/


/*******************************************************************************
 * MODERN IMPORTS
 ******************************************************************************/
@use '../variables/material';
@use '../variables/base';
@use '../variables/sidebar';
@use '../mixins/vendor';
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/mixins" as _mdc-drawer;
@use "@material/list/mdc-list";
@use "@material/list/mixins" as _mdc-list;
@use "@material/list/evolution-mixins" as _mdc-list-evolved;
@use "@material/theme/mdc-theme";
@use "@material/theme/mixins" as _mdc-theme;
@use "@material/elevation/mdc-elevation";
@use "@material/elevation/mixins" as _mdc-elevation;
@use "@material/typography/mdc-typography";
@use "@material/typography/mixins" as _mdc-typography;


/*******************************************************************************
 *  A SIDEBAR STYLES (Side-Menu)
 ******************************************************************************/

/**** Root MDC modifiers (Must apply these styles if not using .side-menu) ****/
.mdc-drawer{
    &.\+persist {

        &.\+fix{
            position: fixed;
            @include _mdc-elevation.elevation(2);

            &.\+maximize-height {
                // Error: compound selectors may no longer be extended. See http://bit.ly/ExtendCompound
                //@extend .mdc-drawer.\+persist.\+fix;
                position: fixed;
                height: 100%;
            }
        }
    }

    &.\+permanent {
        height: 100%;

        &.\+fixed {
            // Error: compound selectors may no longer be extended. See http://bit.ly/ExtendCompound
            //@extend .mdc-drawer.\+permanent;
            height: 100%;
            position: fixed;
        }
    }

    &__toolbar-spacer {
        margin-top: 64px;
    }
}


/**** Fixes layering of UI components in kux applications (lets drawer overlap topAppBar when in modal form) ****/
.mdc-drawer--modal {
    z-index: 6 !important;
}


/**** Fixes issues with opening/closing modal in kux applications ****/
.mdc-drawer--closing .mdc-drawer-scrim {
    display: none !important;
}


/**** KUX Side-Menu Additions ****/
.side-menu {
    // Error: compound selectors may no longer be extended. See http://bit.ly/ExtendCompound
    //@extend .mdc-drawer.\+permanent.\+fixed;
    height: 100%;
    position: fixed;

    /**** Main Sde Menu ***/
    width: 284px;
    @include _mdc-drawer.fill-color-accessible( surface );
    @include _mdc-drawer.title-ink-color(on-surface);
    @include _mdc-drawer.subtitle-ink-color(on-surface);
    @include _mdc-drawer.item-icon-ink-color(on-surface);
    @include _mdc-drawer.item-text-ink-color(on-surface);
    @include _mdc-drawer.item-activated-icon-ink-color(on-surface);
    @include _mdc-drawer.item-activated-text-ink-color(on-surface);
    border-color: material.$mdc-theme-surface;
    text-transform: uppercase;
    overflow: auto;

    /* Lets topAppBar overlap drawer when drawer is in permanent/dismissible form */
    z-index: 3;

    &_logo {
        width: 48px;
        padding: 40px 0 0;
        margin: 0 auto;
        fill: currentColor;
    }

    &_title {
        @include _mdc-typography.typography(headline6);

        align-self: center;
        margin: 5px auto;
    }

    &_select-item-divider {
        @include _mdc-theme.property(border-bottom-color, primary);

        width: 50px;
        margin: 0 auto;
        border-bottom-width: 2px;
        position: relative;
        top: -5px;
    }

    .mdc-drawer__header-content {
        text-align: center;
    }

    .mdc-list-item {
        @include _mdc-list-evolved.list-primary-text-ink-color( on-primary );
        border-radius: 3px;
    }

    &_section-title {
        display: block;
        color: base.$font-color-secondary;
        padding-left: 24px;
        padding-top: 40px;
        padding-bottom: 12px;

    }

    &.\+inverse {
        @include _mdc-drawer.fill-color-accessible( base.$bg-color-inverse );
        @include _mdc-drawer.title-ink-color(on-surface);
        @include _mdc-drawer.subtitle-ink-color(on-surface);
        @include _mdc-drawer.item-icon-ink-color(on-surface);
        @include _mdc-drawer.item-text-ink-color(on-surface);
        @include _mdc-drawer.item-activated-icon-ink-color(on-surface);
        @include _mdc-drawer.item-activated-text-ink-color(on-surface);
        border-color: sidebar.$short-nav-primary;

        .mdc-list-item {
            @include _mdc-list-evolved.list-primary-text-ink-color( base.$font-color-primary );
        }
    }

    ol, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}

.side-menu_nav {

    border-bottom: 1px solid rgba( 0, 0, 0, .12 );
    padding-bottom: 40px;
    padding-top: 40px;

    &.side-menu_menu-section {

        margin-top: 0;
        padding-top: 0;
    }

    .side-menu_menu-item {

        position: relative;
        overflow: hidden;
    }

    .side-menu_submenu-toggle {
        padding: 12px 48px;
        padding-left: 24px;
        width: 100%;
        display: block;
        text-align: left;
        text-transform: none;
        cursor: pointer;

        &.active {
            font-weight: 600;
        }
    }

    .side-menu_submenu-wrap {
        overflow: hidden;
    }
}

.submenu_menu-section {
    margin-top: auto;
    height: 0;

    .submenu_menu-item {
        padding: 12px 48px;
        width: 100%;
        height: auto !important;
        min-height: 36px !important;
        display: block;
        text-align: left;
        text-transform: none;
        color: material.$mdc-theme-primary;

        &.active {
            font-weight: 600;
        }
    }

    &.\+initialized {
        height: auto;
        transition: margin-top 235ms cubic-bezier( .4, 0, .2, 1 );
    }
}

.side-menu_sub-nav {
    width: 100%;
    color: base.$font-color-primary;
    text-transform: none;

    li {
        padding:12px, 48px;
        width: 100%;
        list-style-type: none;
        cursor: pointer;
        border-bottom: 1px solid sidebar.$short-nav-primary;

        &:hover {
            color: #cdcdcd;
            border-bottom: 1px solid material.$mdc-theme-primary;
        }

        button {
            width: 100%;
            display: block;
            text-align: left;
        }
    }
}

.side-menu.\+mimic-appbar {
    box-shadow: none !important;
    transition: box-shadow 200ms linear !important;

    &.\+scrolled {
        box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.2), 4px 0px 5px 0px rgba(0, 0, 0, 0.14), 1px 0px 10px 0px rgba(0, 0, 0, 0.12) !important;
        transition: box-shadow 200ms linear !important;
    }
}

.container.\+flex-side-menu {
    margin-left: 284px;
    width: auto !important;
}

/*******************************************************************************
 *  B SIDEBAR STYLES
 ******************************************************************************/
.short-nav {
    background-color: sidebar.$short-nav-bg-color;
    color: sidebar.$short-nav-primary;

    &.\+scrollspy {
        @extend .short-nav;
        position: fixed;
        right: 0;
        top: 0;
        width: 240px;
        height: 100%;
        border-left: 1px solid sidebar.$short-nav-primary;
    }

    &\_toolbar-spacer {
        height: 64px;
    }
}

.container.\+flex-scrollspy {
    margin-right: 240px;
    width: auto !important;
}


/*******************************************************************************
 *  11-B LEGACY SIDEBAR
 ******************************************************************************/

/**** LEGACY SIDEBAR ****/
.sidebar{
    position: fixed;
    top: 32px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: sidebar.$sidebar-bg-color;
    border-color: sidebar.$sidebar-border-color;
    text-shadow: sidebar.$sidebar-font-shadow-color -1px 1px 3px;
    /* background-color: rgb(51, 51, 51); */
    background-position: 0px 52px !important;
    @include vendor.generate-properties('box-shadow', '#333333 0px 0px 200px inset'); // sidebar-box-shadow-coloor didnt expand
    border-right: 1px solid sidebar.$sidebar-border-light-color;
}

.sidebar.sidebar-mmod {
    width: 230px;
    overflow: visible;
    transform: translate(0px, 0px);
    transition: all 1s ease-out;

    div.panel {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        background-color: transparent;

        li{
            line-height: 40px;

            a {
                padding: 10px 15px;
            }

        }

        a:hover {
            text-decoration: none;
        }
    }

    div.btn-sidebar-collapse {
        margin-right: -15px;
        text-align: right;
    }

    a.btn-sidebar-collapse-btn {
        width: auto;
        color: sidebar.$sidebar-collapse-btn-font-color;
    }

    a.btn-sidebar-collapse-btn:hover {
        color: sidebar.$sidebar-collapse-btn-hover-font-color;
        cursor: pointer;
    }
}

.sidebar.sidebar-mmod.nav-collapsed {
    width: 64px !important;
    @include vendor.generate-properties('box-shadow', '#333 0px 0px 50px inset !important');

    div.panel {
        background-color: transparent;
        width: 64px;
        height: 40px;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 10px;
    margin-left: -20px;

    div.panel {
        .client-nav-btn.active {
            a:after {
                margin-top: -17px;
            }
        }

        .client-nav-btn.active.collapsed {
            a:after {
                margin-top: -8px;
            }
        }

    }

    .active {
        color: sidebar.$sidebar-font-color;
        background-color: sidebar.$sidebar-nav-bg-color;

        a {
            color: sidebar.$sidebar-font-color;
            background-color: sidebar.$sidebar-nav-bg-color;
        }

        a:hover {
            color: sidebar.$sidebar-font-color;
            background-color: sidebar.$sidebar-nav-bg-color;
        }
    }

    .client-nav-btn {
        a {
            color: sidebar.$sidebar-font-darker-color;
            cursor: pointer;
        }

        a:hover {
            color: sidebar.$sidebar-font-darker-hover-color;
            background-color: sidebar.$sidebar-nav-btn-color;
        }
    }

    .client-nav-btn.active {
        a {
            color: sidebar.$sidebar-font-color;
            background-color: sidebar.$sidebar-nav-bg-color;
        }

        a:after {
            right: 0;
            border: 8px solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: sidebar.$sidebar-border-light-color;
            top: 50%;
            margin-top: -8px;
        }
    }
}