/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.13
 *
 * ------------------------
 *
 * Textfield
 * ------------------------
**/


// Colors


// Other stuffs


/** Textfield sizing/spacing  **/
.mdc-text-field {

    > input[type="text"] {
        padding-top: 6px;
    }

    > input[type="password"] {
        padding-top: 6px;
    }
}